<section id="about">
    <div class="container-fluid px-3 px-sm-5">
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="text__menu">
                    <h3 class="text__menu-title ">About Us</h3>

                    <a asp-controller="home" asp-action="aboutus" class="text__menu-tab activetab ">
                        <span>Papa John's</span>
                    </a>

                    <a asp-controller="home" asp-action="contactus" class="text__menu-tab ">
                        <span>Contact Us</span>
                    </a>
                    <a asp-controller="home" asp-action="faq" class="text__menu-tab ">
                        <span>Faq</span>
                    </a>

                    <a hasp-controller="home" asp-action="rules" class="text__menu-tab">
                        <span>Papa Talk - Terms and Conditions</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-10  col-md-6">
                <h1>Papa John's</h1>
                <div class="text__content">
                    <p><strong>Better ingredients. Better pizza.</strong></p>

                    <p>
                        <br />
                        In 1984, Papa John's opened its doors with one goal in mind:
                        Better Pizza. We knew that with better ingredients we would
                        create better pizzas. That goal and the promise of&nbsp; "Better
                        ingredients. Better pizza."&nbsp;remain true to this day.
                    </p>

                    <p>
                        Our fundamental belief is simple: take care of your people and
                        give them the best to work with and you will make superior
                        quality pizza. This is what drives us and it's why we invest
                        more than many others in the industry in our effort to
                        consistently deliver superior pizza and superior service.
                    </p>

                    <p>
                        The more you know about our ingredients, the more informed your
                        choice of pizza will be. If you have questions about the
                        ingredients, you can call us (* 7272) or contact through our
                        official pages on social networks.
                    </p>

                    <p>
                        <strong>Building a Foundation of Quality</strong><br />
                        The secret to success is much like the secret to making a better
                        pizza - the more you put into it, the more you get out of it.
                        Our pizza family is as hungry for perfection today as we were
                        when we first opened our doors more than 30 years ago. And we're
                        driven to be the best at making innovative new products and
                        recipes.<br />
                        &nbsp;
                    </p>

                    <p>
                        <strong>Quality is at our core</strong><br />
                        It’s the foundation we started with, from the first Papa John's
                        pizza that was made in a broom closet in Jeffersonville, IN, to
                        now more than 5,000 locations in 45 countries and territories
                        around the world.<br />
                        We don’t use cheap and more processed ingredients. Whether it's
                        our signature sauce, toppings, our original fresh dough, or even
                        the box itself, we invest in our ingredients to ensure that we
                        always give you the finest quality pizza. For you, it’s not just
                        a better pizza. It’s a family gathering, memorable birthday,
                        work celebration or simply a great meal. It’s our goal to make
                        sure you always have the best ingredients for every occasion.
                    </p>

                    <p>
                        <strong>How We Do It</strong><br />
                        Focusing on the main goal, we will deliver high-quality,
                        traditional pizza from Papa John's.
                    </p>

                    <p>
                        <strong>Accountability</strong><br />
                        We do what we say we are going to do when we say we are going to
                        do it. We earn the right to hold others to a higher level of
                        accountability by being accountable to ourselves, our customers
                        and our business partners.
                    </p>

                    <p>
                        <strong>Superiority</strong><br />
                        Our customer satisfaction must be consistent, quantifiable and
                        demonstrable. At Papa John's we expect excellence - the "best in
                        its class" in everything we do.
                    </p>

                    <p>
                        <strong>P.A.P.A. (People Are Priority Always)</strong><br />
                        People Are Priority Always. Our success depends upon our
                        ability, as a team, to work together to achieve our goals and
                        expectations.
                    </p>

                    <p>
                        <strong>Attitude</strong><br />
                        If you think you can or you think you can't - you're right! The
                        difference between winners and losers is a positive mental
                        attitude. Our attitude is a reflection of what we value:
                        successful team members must be upbeat, proactive and passionate
                        about everything they do.
                    </p>

                    <p>
                        <strong>Constant Improvement</strong><br />
                        We never stop trying to surpass our previous best. We constantly
                        "Raise the Bar." No matter how good we are, we will always get
                        better.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>