<section id="about">
    <div class="container-fluid px-3 px-sm-5">
        <div class="row">
            <div class="col-lg-2  col-md-6">
                <div class="text__menu">
                    <h3 class="text__menu-title ">About Us</h3>

                    <a asp-controller="home" asp-action="aboutus" class="text__menu-tab  ">
                        <span>Papa John's</span>
                    </a>

                    <a asp-controller="home" asp-action="contactus" class="text__menu-tab ">
                        <span>Contact Us</span>
                    </a>
                    <a asp-controller="home" asp-action="faq" class="text__menu-tab ">
                        <span>Faq</span>
                    </a>

                    <a hasp-controller="home" asp-action="rules" class="text__menu-tab activetab">
                        <span>Papa Talk - Terms and Conditions</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-10  col-md-6">
                <h1>Papa Talk - Terms and Conditions</h1>
                <div class="text__content_rules">
                    <p class="text-center">
                        <strong>
                            Win 'One Year Supply of Pizza' for giving us your
                            feedback
                        </strong>
                    </p>

                    <ul>
                        <li>
                            By entering the promotion, entrants are deemed to have read,
                            accepted and agreed to be bound by these terms and conditions
                            and any other requirements of Papa John’s Pizza Azerbaijan
                        </li>
                        <li>
                            The answers given by the participant to the questions during
                            the survey have no effect on the outcome of the promotion. The
                            questions of the survey, whether positive or negative, must be
                            answered in a way that reflects real opinions.
                        </li>
                        <li>
                            To participate in the promotion, customers must place and
                            complete an order and then complete and submit our customer
                            satisfaction survey. To fill in the survey, scan the Papa Talk
                            QR code on the pizza box or order receipt and enter the
                            restaurant number on the order receipt and then answer the
                            survey questions. Each participant can participate in the
                            competition again only after&nbsp; 30 days.
                        </li>
                        <li>
                            At the end of each month one winner will be selected at random
                            by a computerised selection process from our completed
                            survey’s
                        </li>
                        <li>
                            The prize shall consist of twelve single pizza gift voucher
                            codes which each provide for one free large pizza per month
                            for one winning entrant.
                        </li>
                        <li>
                            You can get a gift pizza by visiting any of our restaurants
                            and presenting a promo code.
                        </li>
                        <li>
                            Each of the voucher codes will only be valid for a period of
                            one month. The 12 online codes will all be issued to the
                            winner within 7 days of the winner acknowledging receipt of
                            winning but each online code shall only be active for a period
                            of one month running consecutively for 12 months so that the
                            winner may enjoy their free pizza each month for 12
                            consecutive months.
                        </li>
                        <li>
                            If the winner does not use the promo code of the first month
                            within 14 days from the date of receiving of the promo codes,
                            Pape John’s Pizza will select the winner again.
                        </li>
                        <li>
                            There is no alternative, cash or otherwise, to the stated
                            prize. The prize cannot be redeemed for cash and is
                            non-transferable.
                        </li>
                        <li>
                            Any cost incurred in entering shall be the sole responsibility
                            of the entrant
                        </li>
                        <li>
                            Papa John’s reserves the right at its sole discretion to
                            disqualify from further participation in the promotion any
                            individual found to be tampering with the operation of the
                            promotion or to be acting in any manner deemed to be in
                            violation of these terms and conditions.
                        </li>
                        <li>
                            Any personal data of entrants will be processed in accordance
                            with applicable Azerbaijan data protection legislation.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>