<section class="checkout-section">
    <div class="container">
        <h1>checkout</h1>
        <div class="row justify-content-lg-between justify-content-center">
            <div class=" checkout-left">
                <h4>SHIPPING DETAILS</h4>
                <form action="" id="checkout-form">
                    <div class="row">
                        <div class="col-6 user-form-item">
                            <label for="">
                                Name
                                <span>*</span>
                            </label>
                            <input type="text" name="" id="" placeholder="Name">
                        </div>
                        <div class="col-6 user-form-item">
                            <label for="">
                                Surname
                                <span>*</span>
                            </label>
                            <input type="text" name="" id="" placeholder="Surname">
                        </div>
                        <div class="col-6 user-form-item">
                            <label for="">
                                Email
                                <span>*</span>
                            </label>
                            <input type="email" name="" id="" placeholder="Email">
                        </div>
                        <div class="col-6 user-form-item">
                            <label for="">
                                Phone Number
                                <span>*</span>
                            </label>
                            <input type="phone" name="" id="" placeholder="Phone number">
                        </div>
                        <div class="col-6 user-form-item">
                            <label for="">
                                City
                                <span>*</span>
                            </label>
                            <input type="text" name="" id="" placeholder="City">
                        </div>
                        <div class="col-6 user-form-item">
                            <label for="">
                                Adress
                                <span>*</span>
                            </label>
                            <input type="text" name="" id="" placeholder="Adress">
                        </div>

                    </div>
                    <div class="order-notes user-form-item">
                        <label for="">Order Notes</label>
                        <textarea name="" id="" cols="30" rows="10"
                                  placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                    </div>
                </form>
            </div>

            <div class=" checkout-right">
                <h4>YOUR ORDER</h4>
                <ul>
                    <li>
                        <div class="product-image">
                            <img src="https://www.papajohns.az/uploads/images/pizza/Grill-%C3%87iken-Parmezan.png"
                                 alt="">
                        </div>
                        <div class="product-name">
                            <p>Grill Chicken Parmesan</p>
                            <span>Mini pizza, 15 cm</span>
                        </div>
                        <div class="product-count">1</div>
                        <div class="product-price">
                            <span>4.90 ₼</span>
                        </div>
                    </li>

                    <li>
                        <div class="product-image">
                            <img src="https://www.papajohns.az/uploads/images/pizza/vegetarian-acili.png"
                                 alt="">
                        </div>
                        <div class="product-name">
                            <p>Spicy Garden Special</p>
                            <span>Small, 23 cm</span>
                        </div>
                        <div class="product-count">1</div>
                        <div class="product-price">
                            <span>9.00 ₼</span>
                        </div>
                    </li>


                </ul>

                <div class="checkout-footer">
                    <button type="submit" form="checkout-form">place order</button>
                    <div class="line"></div>
                    <div class="order-details">
                        <div class="order-detail-amount">
                            <p>Subtotal:</p>
                            <span class="product-price">13.90 ₼</span>
                        </div>
                        <div class="order-detail-amount">
                            <p>Shipping:</p>
                            <span class="product-price">0.00 ₼</span>
                        </div>
                        <div class="order-detail-amount">
                            <p>Total:</p>
                            <span class="product-price">13.90 ₼</span>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>