@model Papa_Jhons.Entities.Offers

<div>
    <h4>Offers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <div class="image" style="width:150px;height:150px;">
            <img style="width:100%;object-fit:contain" src="~/assets/images/@Model.ImagePath" />
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
