@model LoginVm 
<form asp-controller="account" asp-action="login">
    <div class="form-imput-item">
        <input asp-for=UserName  placeholder="Username" required>
        <i class="fa fa-envelope"></i>
    </div>
    <div class="form-imput-item">
        <input asp-for="Password" placeholder="Password" required>
        <i class="fas fa-lock"></i>
    </div>
    <div class="form-remember-me">
        <label for="">
            <input asp-for="RememberMe" name="" id="">
            Remember Me
        </label>
    </div>
    <button type="submit">SIGN IN</button>
    <a class="mt-3 btn btn-danger" asp-controller="Account" asp-action="RegisterWithGoogle" asp-route-returnUrl="@Context.Request.Path">Enter Google</a>
    <a class="mt-3 btn btn-info" asp-controller="Account" asp-action="RegisterWithFacebook" asp-route-returnUrl="@Context.Request.Path">Enter Facebook</a>

    <a data-bs-toggle="modal" data-bs-target="#forgotModal" class="forgot-password">
        Forgot your
        password?
    </a>
</form>